@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

body {text-align:center;}

form, input{box-sizing:border-box;}

h1 {font-family: 'Mulish', sans-serif; color:#04146c; font-size: 24px;}
label, input {font-family: 'Mulish', sans-serif;color:#414166; font-size: 18,666666666666664px;}
button {font-family: 'Mulish', sans-serif;color:white;background-color:#0a2ff1; font-size: 18,666666666666664px;}
p {font-family: 'Mulish', sans-serif;color:#0a2ff1; font-size: 18,666666666666664px;}

input {width: 500px; height: 50px; margin-bottom: 10px; padding:10px;}
button {width: 500px; height: 50px; margin-bottom: 10px; padding:10px;}

label {display:block;}

