@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Tipografía, tamaño, color*/
 h1 {font-family: 'Poppins', sans-serif; font-size:66,6px;color:#0a2ff1}
 p {font-family: 'Poppins', sans-serif; font-size:30,066666666666666px; color:#0a2ff1; background-color: #eff2ff;}
 button {font-family: 'Poppins', sans-serif; font-size:30,066666666666666px;color:white; background-color: #8a9af1;}

img {width:30%;}

button {margin-bottom: 10px ; margin-top: 30px; padding: 10px;}
button {border: 5px solid white;}

p {display:inline; margin-right: 10px;}

div, img {background-color: #3ffff3;}